<nav
  class="kbnGlobalNav"
  ng-class="{'kbnGlobalNav-isOpen': isGlobalNavOpen}"
  ng-show="isVisible"
  data-test-subj="globalNav"
  background-color="#2d2a32"
>
  <!-- Logo -->
  <div class="kbnGlobalNav__logo">
    <a
      class="kbnGlobalNav__logoLink"
      href="{{ getHref('/app/kibana#/home') }}"
      data-test-subj="kibanaLogo"
    >
      <ul>
        <li
          ng-if="!logoBrand && !smallLogoBrand"
          aria-label="{{ 'common.ui.chrome.globalNav.logoAriaLabel' | i18n: {
            defaultMessage: '{appTitle} home',
            values: {appTitle}
          } }}"
          class="kbnGlobalNav__logoBrand kibana"
        ></li>

        <li
          ng-if="logoBrand"
          ng-style="{ 'background': logoBrand }"
          aria-label="{{ 'common.ui.chrome.globalNav.logoAriaLabel' | i18n: {
            defaultMessage: '{appTitle} home',
            values: {appTitle}
          } }}"
          class="kbnGlobalNav__logoBrand hidden-sm"
        ></li>

        <li
          ng-if="smallLogoBrand"
          ng-style="{ 'background': smallLogoBrand }"
          aria-label="{{ 'common.ui.chrome.globalNav.logoAriaLabel' | i18n: {
            defaultMessage: '{appTitle} home',
            values: {appTitle}
          } }}"
          class="kbnGlobalNav__smallLogoBrand visible-sm hidden-xs"
        ></li>
      </ul>
    </a>
  </div>

  <!-- Links -->
  <div class="kbnGlobalNav__links">
    <!-- Main apps -->
    <div class="kbnGlobalNav__linksSection"><app-switcher chrome="chrome"></app-switcher></div>

    <!-- Bottom button -->
    <div class="kbnGlobalNav__linksSection">
      <div class="chrome-actions" kbn-chrome-append-nav-controls></div>

      <!-- Open/close sidebar -->
      <global-nav-link
        class="{{ globalNavToggleButton.classes }}"
        tooltip-content="globalNavToggleButton.tooltipContent"
        on-click="toggleGlobalNav($event)"
        icon="'plugins/kibana/assets/play-circle.svg'"
        eui-icon-type="'sortRight'"
        label="globalNavToggleButton.title"
      ></global-nav-link>
    </div>
  </div>
</nav>
