// SASSTODO: Move to sass when image paths work
.kbnGlobalNav {
  .kbnGlobalNav__smallLogoBrand,
  .kbnGlobalNav__logoBrand {
    &.kibana {
      background-image: url("~ui/images/kibana.svg");
      background-position: 10px 14px;
      background-size: 120px 42px;
      background-repeat: no-repeat;
    }
  }
}

.kbnGlobalNav {
  background-color: #2d2a32 !important;
}

.kbnGlobalNavLink__anchor:hover {
  background-color: #39363e !important;
}

.kbnGlobalNav__logoLink:hover {
  background-color: #39363e !important;
}

.kbnGlobalNavLink {
  &:hover {
    background-color: #39363e;
  }

  &.active {
    background-color: #232027 !important;
  }

  &:focus {
    box-shadow: none !important;
    background-color: #232027;
  }
}
